exportPattern("^[[:alpha:]]+")
import("lattice","rugarch", "tcltk")
importFrom("grDevices", "dev.new","colorRampPalette")
importFrom("graphics", "abline", "boxplot", "grid", "legend", "lines",
             "par", "plot.new")
importFrom("stats", "Box.test", "arima", "density", "na.omit",
             "plot.ts", "pnorm", "ppoints", "predict", "qnorm", "sd",
             "time", "ts","ts.plot", "tsdiag", "var","rnorm","is.ts")
importFrom("utils", "head","write.csv")
export("iClick.ARIMA","iClick.GARCH","iClick.VisOneReturns","iClick.VisAssetPrice")
export("boxPlotX","cumulatedPlotX","drawdownPlotX","drawupPlotX","drawups","qqnormPlotX","seriesPlotX")
export("calendarHeat","cutAndStack")
